.nutrition-facts.border {
    line-height: normal;
    border:$black solid 1px !important;
    .border-bottom {
        border-bottom: $black solid 1px!important;
    }
    hr {
        margin-top: .5rem;
        margin-bottom: .5rem;
        border: 0;
        border-top: 6px solid $black;
    }

}

.featured-facts {
    border-top:$mdc-grey-300 solid 1px;
    line-height: normal;
    div span {
        display:block;
        text-transform: uppercase;
        font-size: .8rem;
        font-weight: $medium;
        letter-spacing: 1px;
    }
    div span:first-child {
        font-size: 2rem;
        font-weight: $bold;
        text-transform: lowercase;
        letter-spacing: normal;
    }
}