.nutrition-facts.border {
    line-height: normal;
    border:$black solid 1px !important;
    .border-bottom {
        border-bottom: $black solid 1px!important;
    }
    hr {
        margin-top: .5rem;
        margin-bottom: .5rem;
        border: 0;
        border-top: 6px solid $black;
    }

}

@include media-breakpoint-up(xs) {

    .featured-facts {
        line-height: normal;
        div span {
            display:block;
            text-transform: uppercase;
            font-size: .8rem;
            font-weight: $medium;
            letter-spacing: 0;
        }
        div span:first-child {
            font-size: 2rem;
            font-weight: $bold;
            text-transform: lowercase;
            letter-spacing: 0;
        }
    }

}

@include media-breakpoint-up(sm) {

    .featured-facts div span {
        letter-spacing: 1px;
    }
    
}