.button, button {
	text-transform:uppercase;
	font-size:14px;
	font-weight:$font-semi-bold;
	border:none!important;
	box-shadow:none;
	color:$white !important;
	background-color:$primary !important;	
	-moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.button:hover, button:hover {
	background-color:$primary-dark !important;
	color:$white;
}
.button:active, .button:focus {
	outline:none;
}

.storefront-primary-navigation nav {
	button {
		background-color:transparent !important;
		border:$white solid 2px !important;
	}
	button.menu-toggle:after, button.menu-toggle:before, button.menu-toggle span:before {
	    background-color: #e2e2e2;
	}
}

