.primary-navigation .nav-menu a {
	color:$grey;
}
.primary-navigation .nav-menu .current-menu-item a {
	color:$white;
}
.site-header-cart .cart-contents {

	.amount {
		color:$white;
	}
	.count {
		color:$light-grey-4;
	}

}
.site-header-cart .cart-contents:after {
	color:$white;
}
.woocommerce-mini-cart__total, .woocommerce-mini-cart__buttons {
	background-color:#000;
}
.mini_cart_item {
	a {
		color:$white;
	}
}

.main-navigation ul li a, .site-title a, ul.menu li a, .site-branding h1 a, .site-footer .storefront-handheld-footer-bar a:not(.button), button.menu-toggle, button.menu-toggle:hover {
    color: #e2e2e2;
}