form.cart {


	.cart-quantity {
		border:$mdc-grey-300 solid 1px;
		background-color:$mdc-grey-100;
		display: inline-block;
		position:relative;
		height: 42px;
		width:120px;
		margin-right:10px;
		label {
			font-size:14px;
			font-weight:$medium;
			text-transform: uppercase;
			letter-spacing: 1px;
			position:absolute;
			top:0;
			left:0;
			padding:10px 0 0 12px;
		}
		.quantity {
			float: none !important;
			margin: 0 !important;
			position:absolute;
			top:0;
			right:0;
			.qty {
				border-top:none !important;
				border-right:none !important;
				border-bottom:none !important;
				border-left:$mdc-grey-300 solid 1px !important;
				width: 60px !important;
				text-align: center !important;
				background-color:$white;
				height:40px;
				
			}
		}
	}
	.quantity-btns {
		display:inline-block;
		height:42px;
		border:$primary solid 2px;
		border-radius:2em;
		overflow: hidden;
		margin-right:10px;
		button {
			background-color:transparent;
			border:none;
			height:38px;
			width:38px;
			color:$primary;
			vertical-align: center;
			line-height: 6px;
			font-weight:$regular;
		}
		button:hover {
			background-color:$primary;
			color:$white;
		}
		button:active, button:focus {
			outline:none;
		}
		button:first-child {
			border-right:$primary solid 1px
		}
		button:last-child {
			border-left:$primary solid 1px
		}
	}
	.button {
		float:none !important;
		height:42px;

	}

}



