@include media-breakpoint-up(xs) {

	form.cart {
		margin:0 !important;
		.add-to-cart-wrap {
			position:relative;
			label {
				font-size:14px;
				font-weight:$medium;
				text-transform: uppercase;
				letter-spacing: 1px;
				position:absolute;
				top:0;
				left:0;
				padding:10px 12px 0 12px;
				height:42px;
				background-color:$mdc-grey-100;
				border:$mdc-grey-300 solid 1px;
			}
			.quantity {
				float:none !important;
				float: none !important;
				margin: 0 !important;
				border:$mdc-grey-300 solid 1px;
				height:42px;
				input.qty {
					border:none;
					height:40px;
					padding-left:65px;
					padding-right:0;
					text-align: left;
					width:110px;
					font-size:14px;
					outline:none;
				}

			}
		}
		.button {
			float:none !important;
			height:42px;
			

		}
	}
}




.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    border: 1px solid $mdc-grey-400;
    padding: 20px;
    margin: 1rem 0;
    text-align: left;
    border-radius: 0;
}

.woocommerce form.login, .woocommerce form.register {
	.input-text {
		width:100%;
	}
}

.woocommerce form {
	.form-row {
		margin-right:0;
		margin-left:0;
		label {
			line-height: normal;
			float:none;
			display:block;
			width:100%;
			font-size: 14px;
			font-weight: $medium;
		}
		.woocommerce-input-wrapper {
			width:100%;
		}
		input, textarea {
			padding:.5rem 1rem;
			font-size: 16px;
			border:$mdc-grey-400 solid 1px;
			box-shadow: none;
			background-color:$mdc-grey-50;
			width:100%;
		}
		.select2-selection__arrow {
			background-color:$mdc-grey-400;
			b {
				border-color: $white transparent transparent transparent !important;
			}
		}
		label.checkbox {
			input {
				width:auto;
			}
		}

	}
	.woocommerce-checkout-payment {
		.form-row {
			flex-direction: column;
			label {
				margin:-15px 0 0 20px;
			}
		}
	}
}

.woocommerce-checkout-payment {
    background: $mdc-grey-200 !important;
    border-radius: 0 !important;
}
.woocommerce ul.order_details {
    padding:0;
}

.woocommerce .woocommerce-customer-details address {
    font-style: normal;
    margin-bottom: 0;
    border:none !important;
    border-bottom-width: 0;
    border-right-width: 0;
    text-align: left;
    width: 100%;
    border-radius: 0;
    padding:0;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    float: none;
    width: 100%;
}

.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    float: none;
    width: 100%;
}

.col-2 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.col-1 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
