.single-product {

	.sticky-top {
		top:30px;
		z-index: 100;
	}


	span.onsale {
		min-height: auto;
		min-width: auto;
		padding: 0;
		font-size: 1em;
		font-weight: $bold;
		position: relative;
		text-align: center;
		line-height: normal;
		top: 0;
		left: 0;
		margin: 0;
		border-radius: 0;
		background-color: transparent;
		color: $white;
		font-size: .857em;
		color:$mdc-orange-500;
		z-index: 0;
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	div.product p.price, div.product span.price {
		color: $black;
		font-size: 1em;
		margin:0;
		.amount {
			font-weight:$medium;
			font-size:1.25em;
		}
		ins {
			text-decoration:none;
			font-weight: $regular;
			.amount {
				font-weight: $medium;
			}
		}
		del {
			.amount {
				font-weight: $regular;
				font-size:1rem;
			}
		}
	}
	div.product .woocommerce-product-rating {
		margin-bottom: 0;
		line-height: 2;
		font-size:.8em;

	}
	.variations {
		margin:0 !important;
		td.label {
			display:none;
		}
		td.value {
			select {
				margin: 0 0 1em 0;
				width: 100%;
				font-weight: $regular;
				padding: 0 1rem !important;
				font-size: 1rem;
				border: 2px solid $primary;
				border-radius: 3px;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				background: url(../images/icon-sort-down.png) 95%/10px no-repeat #fff;
				outline: 0;
			}
		}
	}
	.single_variation_wrap {
		.single_variation {
			margin: 0 0 1em 0;
			.woocommerce-variation-description p {
				font-size:.8em;
				margin-bottom:0 !important;
			}
		}
	}
}
