body {
	font-family: 'Open Sans', sans-serif;
	color:$default-text-color;
    letter-spacing: -0.3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}
main {padding-top:60px;}
.frame {
	position:fixed;
	top:0;
	left:0;
	height:100vh;
	width:100%;
	z-index:999;
	pointer-events:none;
}
.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
	& > [class^="col-"],
	& > [class*=" col-"] {
		padding-right: 0;
		padding-left: 0;
	}
}
.vertical-center{
    position: absolute;
    top:50%;
    left: 0%;
    transform:translate(0%, -50%);
    -webkit-transform:translate(0%, -50%);
    width:100%;
}
.font-bold {
	font-weight:$font-bold;
}
.font-semi-bold {
	font-weight:$font-semi-bold;
}
.img-background {
	background-repeat:no-repeat;
	background-position:center center;
	background-size:cover;
	position:relative;
}

// Custom Icons
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?ej8h0');
  src:  url('../fonts/icomoon.eot?ej8h0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ej8h0') format('truetype'),
    url('../fonts/icomoon.woff?ej8h0') format('woff'),
    url('../fonts/icomoon.svg?ej8h0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cow:before {
  content: "\e900";
}
.icon-paleo:before {
  content: "\e901";
}
.icon-vegan:before {
  content: "\e902";
}

.icon-50 {
	font-size:50px;
}
.icon-80 {
	font-size:80px;
}
.icon-100 {
	font-size:100px;
}

.background-brand {background-color:$brand;}
.background-primary {background-color:$primary;}
.background-primary-light {background-color:$primary-light;}
.background-primary-dark {background-color:$primary-dark;}
.background-primary-alt-1 {background-color:$primary-alt-1;}
.background-primary-alt-1-light {background-color:$primary-alt-1-light;}
.background-primary-alt-1-dark {background-color:$primary-alt-1-dark;}
.background-primary-alt-2 {background-color:$primary-alt-2;}
.background-primary-alt-2-light {background-color:$primary-alt-2-light;}
.background-primary-alt-2-dark {background-color:$primary-alt-2-dark;}
.background-primary-alt-3 {background-color:$primary-alt-3;}
.background-primary-alt-3-light {background-color:$primary-alt-3-light;}
.background-primary-alt-3-dark {background-color:$primary-alt-3-dark;}
.background-secondary {background-color:$secondary;}
.background-secondary-light {background-color:$secondary-light;}
.background-secondary-dark {background-color:$secondary-dark;}
.background-warning {background-color:$warning;}
.background-warning-light {background-color:$warning-light;}
.background-warning-dark {background-color:$warning-dark;}
.background-error {background-color:$error;}
.background-error-light {background-color:$error-light;}
.background-error-dark {background-color:$error-dark;}
.background-success {background-color:$success;}
.background-success-light {background-color:$success-light;}
.background-success-dark {background-color:$success-dark;}
.background-light-grey-4 {background-color:$light-grey-4;}
.background-light-grey-5 {background-color:$light-grey-5;}
.background-white {background-color:white;}
.background-black {background-color:$black;}

.color-white {
	color:white;
}
.text-shadow {
	text-shadow: 0 0 8px $black;
}

//margins
.margin-bottom-0 {
	margin-bottom:0;
}
.margin-bottom-5 {
    margin-bottom:5px;
}
.margin-bottom-10 {
    margin-bottom:10px;
}
.margin-bottom-15 {
	margin-bottom:15px;
}
.margin-top-15 {
    margin-top:15px;
}
.margin-bottom-sm-15 {
	margin-bottom:15px;
}
.margin-bottom-30 {
	margin-bottom:30px;
}
.margin-top-30 {
    margin-top:30px;
}
.margin-bottom-sm-30 {
	margin-bottom:30px;
}
.margin-bottom-45 {
	margin-bottom:45px;
}
.margin-top-45 {
    margin-top:45px;
}
.margin-bottom-sm-45 {
	margin-bottom:45px;
}
.margin-bottom-60 {
	margin-bottom:60px;
}
.margin-top-60 {
    margin-top:60px;
}
.margin-bottom-sm-60 {
	margin-bottom:60px;
}

// Padding
.page-padding {
	padding-top:90px;
	padding-bottom:60px;
}
.padding-15 {
	padding:15px;
}
.padding-30 {
	padding:30px;
}
.padding-60 {
	padding:60px;
}
.padding-top-15 {
	padding-top:15px;
}
.padding-top-30 {
	padding-top:30px
}
.padding-top-60 {
	padding-top:60px;
}
.padding-bottom-15 {
	padding-bottom:15px;
}
.padding-bottom-30 {
	padding-bottom:30px;
}
.padding-bottom-60 {
	padding-bottom:60px;
}

.vertical-center{
    position: absolute;
    top:50%;
    left: 0%;
    transform:translate(0%, -50%);
    -webkit-transform:translate(0%, -50%);
    width:100%;
}

/* Reponsive Video iFrame */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}
.video-modal[style] {
    padding:0 !important;
}
.video-modal {
    .modal-dialog {
        margin:0;
        padding:0;
        width:100%;
        height:100vh;
    }
    .modal-content {
        position: relative;
        width:100%;
        height:100vh;
        display: table;
        box-shadow:none;
        border:none;
        background-color:white;
        .modal-body {
            display:table-cell;
            vertical-align:middle;
            .frame {
                border:white solid 10px;
            }
        }
        button {
            position: absolute;
            top:30px;
            right:30px;
            height:60px;
            width:60px;
            z-index: 10;
            color:white;
            background-color: $primary;
            border: none;
            font-size: 50px;
            padding:0;
            outline:none;
            cursor:pointer;
            line-height: normal;
        }
    }    
    .modal-body {
        padding:0;
    }
}


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	    color: $black;
	    margin-top:0;
	}
	h1, h2, h3, h4 {
		font-weight: $font-light;
	}
	h1 {		
		letter-spacing:-1px;
		font-size: 36px;		
		margin-bottom:1em;
	}
	h2 {		
		letter-spacing:-1px;
		font-size: 30px;		
		margin-bottom:1em;
	}
	h3 {
		font-size: 24px;
		margin-bottom:1.3em;
	}
	h4 {
		font-size: 18px;
		margin-bottom:1.4em;
	}
	h5 {
		font-size: 16px;
		margin-bottom:1.5em;
	}
	p, li {
		font-weight:$font-light;
		font-size:14px;
		line-height: 1.5em;
	}
	ul, p, blockquote {
		margin-bottom:1.5em;
	}
	ul, ol {
		padding-left:20px;
	}
	a {
		color:$primary;
		cursor: pointer;
	}
    a.link-black {
        color:$black;
    }
	a:hover {
		color:$primary-dark;
		text-decoration:none;
	}
	hr {
	    border-top: 5px solid $light-grey-4;
	    margin:30px 0;
	}
	.section-padding {
		padding:50px 0;
	}
	.slider-arrows {
        position:relative;
        .slick-arrow[style] {
            display:inline-block !important;
        }
        .toggle-left, .toggle-right {
            position: absolute;
            top:50%;
            transform:translate(0%, -50%);
            -webkit-transform:translate(0%, -50%);
            z-index: 100;
            font-size: 16px;
            padding:30px 15px;
            cursor:pointer;
            background-color:rgba(white, 0.75);
        }
        .toggle-left {
            left:0;
            border-top-right-radius:5px;
            border-bottom-right-radius:5px;
        }
        .toggle-right {
            right:0;
            border-top-left-radius:5px;
            border-bottom-left-radius:5px;
        }
    }  
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	h1 {		
		font-size: 38px;
	}
	h2 {
		font-size: 32px;
	}
	h3 {
		font-size: 26px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 18px;
	}
	p, li {
		font-size:16px;
	}	
	.section-padding {
		padding:60px 0;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {	
	h1 {		
		font-size: 40px;
	}
	h2 {
		font-size: 34px;
	}
	h3 {
		font-size: 28px;
	}
	h4 {
		font-size: 22px;
	}
	h5 {
		font-size: 20px;
	}
	p, li {
		font-size:18px;
	}	
	.section-padding {
		padding:80px 0;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.slider-arrows {
        .toggle-left, .toggle-right {
            font-size: 32px;
            padding:30px 15px;
        }
    }
}

/* Slider My Styles */

.slide {
    display:none;
}

.slick-slider {
	position: relative;
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
	.slick-list {
	    position: relative;
	    display: block;
	    overflow: hidden;
	    margin: 0;
	    padding: 0;
	}
	.slick-list:focus {
	    outline: none;
	}
	.slick-list.dragging {
		cursor: pointer;
		cursor: hand;
	}
	.slick-track {
		position: relative;
		top: 0;
		left: 0;
		display: block;
		text-align: center;
	}
	.slick-track:before, .slick-track:after {
		display: table;
		content: '';
	}
	.slick-track:after {
		clear: both;
	}
	.slick-list, .slick-track {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.slick-loading {
	.slick-track, .slick-slide {
	    visibility: hidden;
	}
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    border:none !important;
    img {
    	display: block;
    }
}
[dir='rtl'] .slick-slide {
    float: right;
}
.slick-slide.slick-loading img {
    display: none;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

  


















